<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @registration.student %>
</p>

<p>
  <strong>Section:</strong>
  <%= @registration.section %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
