<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @section.course.name %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @section.number %>
</p>

<p>
  <strong>Location:</strong>
  <%= @section.location %>
</p>

<p>
  <strong>Sectiontime:</strong>
  <%= @section.sectionTime %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
